<div class="mt-4">
    <div class="row">

        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="/course/{{course.slug}}"><img src="{{course.image}}" class="card-img-top" alt="..."
                        id="logo"></a>

                <div class="card-body">
                    <a href="/course/{{course.slug}}">
                        <h5 class="card-title">{{course.name}}</h5>
                    </a>

                    <p class="card-text">{{course.description:}}</p>
                    <p class="card-text">{{course.email}}</p>
                    <p class="card-text">{{course.skill_want_to_learn}}</p>


                    <a href="#" class="btn btn-primary">{{course.description}}</a>
                </div>
            </div>
        </div>

    </div>
</div>