<div class="mt-4">
    <div class="row">
        {{#each yourskills}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <a href="/course/{{this.slug}}"><img src="{{this.image}}" class="card-img-top" alt="..." id="logo"></a>

                <div class="card-body">
                    <a href="/course/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">{{this.description}}</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>