<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Tên Khóa Học</th>
                <th scope="col">Kĩ Năng Đã Có</th>
                <th scope="col">Kĩ Năng Muốn Học</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>

                <th scope="row">{{this.name}}</th>
                <td>{{this.description}}</td>
                <td>{{this.skill}}</td>
                <td>{{this.skill_want_to_learn}}</td>
                <td>
                    <a href="/course/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link">Xóa</a>
                </td>




            </tr>
            {{/each}}

        </tbody>
    </table>
</div>